<div class='bumper-25'></div>
  <h2 class='text-center'>Edit Your Profile</h2>
<div class='bumper-25'></div>

<section>
  <%= form_for(@user, html: {class: 'form--signup__box'}) do |f| %>

  <div class="form--signup__field">
    <%= f.label :email, "Email" %>
    <%= f.email_field :email, autofocus: true, :input_html => { :value => @user.email } %>
  </div>

  <div class="form--signup__field">
    <%= f.label :bio, "What do you want others to know about you? Add a bio here." %>
    <%= f.text_field :bio %>
  </div>

  <div class='bumper-25'></div>

  <% if @user.errors.any? %>
    <% @user.errors.full_messages.each do |error| %>
      <p><%= error %></p>
    <% end %>
    <div class='bumper-25'></div>
  <% end %>

  <div class="form--signup__submit-container">
    <%= f.submit "Update Profile", class: 'btn' %>
  </div>

  <% end %>

</section>
