<%= form_for @game do |f| %>

  <div>
    <%= f.label :title %>
    <%= f.text_field :title %>
  </div>

  <div>
    <%= f.label :number_of_players, value: 'How many players?' %>
    <%= f.number_field :number_of_players, default_value: '2' %>
  </div>

  <%= f.hidden_field :creator, value: current_user.id %>

  <div>
    <%= f.label :gametype, value: 'Gametype' %>
    <%= f.select :gametype, [['Standard','Standard'], ['Modern', 'Modern'], ['EDH', 'EDH'], ['Frontier', 'Frontier'], ['Limited / Draft', 'Limited / Draft'], ['Vintage', 'Vintage'], ['Legacy','Legacy'], ['Pauper', 'Pauper']], {}, {onchange: "showfield(this.options[this.selectedIndex].value)"} %>
  </div>

  <div>
    <%= f.label :time %>
    <%= f.time_field :time %>
  </div>

  <div>
    <%= f.label :date %>
    <%= f.date_field :date %>
  </div>

  <div>
    <%= f.label :location, value: 'Please supply a full valid address to be added to the map.' %>
    <%= f.text_field :address %>
  </div>

  <%= f.submit id: 'special' %>
<% end %>
