<% if @game.errors.any? %>
  <div id="error_explanation">
    <h2>
      <%= pluralize(@game.errors.count, "error") %> Please complete the form
    </h2>
    <ul>
      <% @game.errors.full_messages.each do |msg| %>
      <li><%= msg %></li>
      <% end %>
    </ul>
  </div>
<% end %>

<%= form_for @game do |f| %>

  <%= f.label :format, "Title" %>
  <%= f.text_field :format %>

  <%= f.label :gametype, "Format" %>
  <%= f.text_field :gametype %>

  <%= f.label :time, "Time" %>
  <%= f.text_field :address %>

  <%= f.label :date, "Date" %>
  <%= f.text_field :date %>

  <%= f.label :address, "Address" %>
  <%= f.text_field :address %>

  <%= f.label :city, "City" %>
  <%= f.text_field :city %>

  <%= f.label :zip, "Zip" %>
  <%= f.text_field :zip %>

  <%= f.label :players, "Number of Players" %>
  <%= f.collection_select :players,  %>

  <%= f.submit :id=>"create_game" %>
<% end %>
