<div id='background' class='large-offset-1 columns medium-offset-1 columns small-offset-1 columns large-10 columns medium-10 columns small-10 columns'>
<h1> Your Search Results</h1>
  <% @games.each do |game| %>
    <p>
      <% if (game.date > Time.zone.now + 1.day) %>
        <u><%= link_to game.title, game_path(game) %></u>:
        <br />What: <%= game.gametype %>
        <br />Where: <%= game.address %> // When: <%= game.date %>, <%= game.time %>
        // Players: <%= game.number_of_players %>
        <% end %>
      <% end %>
      <hr />
    </p>
</div>

<div id="app"></div>

<div class='small-12 columns medium-12 columns large-12 columns' id='newgame'>
  <div class='large-4 medium-6 small-8'>
    <%= button_to 'Add a Game Listing', new_game_path, method: :get, id: 'button'  %>
  </div>
</div>
