<div id='background' class='large-offset-1 columns medium-offset-1 columns small-offset-1 columns large-10 columns medium-10 columns small-10 columns'>
  <div class='text-center'><h2>All Games, listed by most recently created</h2></div>
  <% @games.each do |game| %>
    <p>
      <u><%= link_to game.title, game_path(game) %></u>:
      <br />What: <%= game.gametype %>
      <br />Where: <%= game.address %> // When: <%= game.date %>, <%= game.time %>
      // Players: <%= game.number_of_players %>
      <hr />
    </p>
  <% end %>
</div>

<div id="app"></div>

<div class='small-12 columns medium-12 columns large-12 columns' id='newgame'>
  <div class='large-4 medium-6 small-8 large-offset-4 medium-offset-3 small-offset-2 columns'>
    <%= button_to 'Add a Game Listing', new_game_path, method: :get, id: 'button'  %>
  </div>
</div>
